


@media screen and (min-width:760px){

  body{

      font-family: sans-serif;
      text-align: center;
      margin: 0;
    }
    h1{
      cursor: default;
      color: white;

    }
      ul{
        list-style-type: none;
      }

  #content{
    display: grid;
    grid-template-columns: 4% 96%;
    margin: 0 auto;
    position:relative;
  }
#nested1{
  display: grid;
  grid-template-rows:repeat(18,auto);
  background: #181818;
  /* background: white;
  /* background: #171a3b; */ 
}
#nested1 header{
  grid-row: 1/2;
  /* background: black; */
  background: #333;
  font-size: 20px;
}
#nested1 a{
  color:#666;
}

a.social{
margin-top:-28%;
}

#nested1 a.navbar:hover{
  color:#6DFDFF;
  font-size: 25px;
  /* color:black; */
}
#nested1 a.social:hover{
  color:#6DFDFF;
  font-size: 16px;
  text-align: center;
  /* color:black; */
}

#home{
  grid-row: 7;
}
#about{
  grid-row: 8;
}
#skills{
  grid-row: 9;
}
#projects{
  grid-row: 10;
}
#contact{
  grid-row: 11;
}
#linkedin{
  grid-row:15;
}
#github{
  grid-row:16;
}
#facebook{
  grid-row:17;
}
#instagram{
  grid-row:18;
}
.navbar{
  font-size: 22px;
}
.social{
  font-size: 15px;
}
#nested2{
  display: grid;
  grid-template-rows: repeat(18,42.15px);
  grid-template-columns: 50% 50%;
  /* background-color: rgba(34, 34, 34, 0.5) ; */
  /* background-color: #222; */
  background: black;
  /* background-color: #03051a; */

}

/* #nested2 h1{
  grid-row: 6/11;
  margin-left: 7%;
  text-align: left;
  font-size: 60px;
  line-height: 50px;
} */
#nested2 h1.home{
  margin-left: 10%;
  text-align: left;
  font-size:50px;
  padding-top:45px;
}

#nested2 h1.head1{
  grid-row: 6;

}
#nested2 h1.head2{
  grid-row: 7;
}

#nested2 h1.head3{
  grid-row: 8;
}
#nested2 p.home{
  grid-row: 11;
  margin-left: 10%;
  text-align: left;
  color: #aaa;
  font-weight:lighter;

}
#nested2 p#bodyopen{
  grid-row: 2;
  margin-left:5%;
   opacity: 0.5;
   color: #aaa;
}
#nested2 p#bodyclose{
  grid-row: 17;
  margin-left:5%;
   opacity: 0.5;
   color: #aaa;
}
#nested2 p#h1open{
  grid-row: 5;
  padding-top: 20px;
   opacity: 0.5;
   color: #aaa;
}
#nested2 p#h1close{
  grid-row: 10;
  text-align: right;
  margin-right: 30%;
  padding-top: 10px;
   opacity: 0.5;
   color: #aaa;
}
#nested2 button{
  grid-row: 12;
  margin-left:10%;
  margin-top:10px;
  width: 20%;
  height:35px;
  background: none;
  border: 1px solid white;
  color:white;
  font-family: sans-serif;
  transition: 0.5s;
}
#nested2 img.dp{
  grid-column: 2;
  grid-row: 5;
  width:350px;
  height:350px;
  border-radius: 50%;
  margin-left: 10%;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s;

}

/* animations */

h1 span:hover{
  color:#6DFDFF;

}


#nested2 button:hover{
  border:none;
  background-color:#6DFDFF;
  color:black;
  font-size: 15px;

}
#nested2 img.dp:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}



a.icons{
  font-size: 50px;
  color: white;
  opacity: 0.3;
}




a.html5{
  grid-column: 2;
  grid-row: 3;

}
 a.css{
  grid-column: 2;
  grid-row: 11;
  margin-left: 30%;

}
 a.js{
  grid-column: 2;
  grid-row: 6;
  margin-left: 30%;

}
a.node{
  grid-column: 2;
  grid-row: 14;
  margin-left: 8%;

}
a.react{
  grid-column: 2;
  grid-row: 15;
  color: white;
  margin-right: 28%;
}

/*About Page */

  p#abouth1open{
    grid-row: 4;
     opacity: 0.5;
  }
  h1.abouthead1{
    grid-row: 5;
    margin-left: 10%;
    text-align: left;
    padding-top: 0;
    font-size: 55px;
    margin-top:-1%;
    color:#6DFDFF;
  }
  p#abouth1close{
    grid-row: 6;
     opacity: 0.5;
     margin-top:
  }

  #nested2 p.about{
    margin-left: 10%;
    text-align: left;
    color: #aaa;
    font-weight:lighter;
  }
  #nested2 p.aboutme{
    grid-row: 7;
  }
  
  span:hover{
    color:#6DFDFF;
    font-weight: bold;
  }

  div.vertical-timeline{
    grid-column: 2;
    grid-row: 2;
  }
  div.vertical-timeline-block{
    margin: 7%;
    padding:5px 0;
    background-color: white;
  }

  div.vertical-timeline h2 , p {
    text-align: left;
    margin-left: 5%;
  }

  /* projects page */

  body a{
    text-decoration: none;
  }
  .blender p{
    margin-left: 6%;
  }
  iframe{
    width: 660px;
    height: 350px;
    margin-left:2%;
  }  
  div.arrow{
    grid-column: 1;
    grid-row: 1/8;
    margin:6% 3% 6% 6%;
    background:white; 
  } 
    
  div.invento{
    grid-column: 2;
    grid-row: 1/8;
    margin:6% 6% 6% 3%;    
    background: white;          
  }
  div.invento h2 , div.arrow h2 {
    text-align:left;
    margin-left:5%;
  }
  div.invento p , div.arrow p {
    text-align:left;
    padding-right: 3%;
  }
  a.repo i{
    float: left;
    margin-left:5%;
    font-size: 25px;
  }
  p.subheading{
    font-weight: bold;
  }
  div.blender{
    grid-column: 1;
    grid-row: 9;
  }
  div.blender-anim{
    grid-column: 2;
    grid-row: 9/18;    
  }
  div.blender-anim p{
    color:#1CAAD9;
    padding-left:3%;
    font-weight: bold;
    font-size: 13px;
  }
  video{
    width:660px;
    height:350px; 
  }

  /* Contact page */

  form.contactform{
    grid-column:1;
    grid-row: 7;
  }

  input[id="name"],input[id="email"],input[id="subject"],textarea{      
    padding:2%;
    margin-left:10%;    
    margin-bottom:3%;
    width:85%;
    background-color: #222;
    border:none;   
  }
  
  input, select, textarea{
    color: #ffffff;
        
}

  textarea:focus, input:focus {
      color: #ffffff;
      outline: none;
      border-bottom: 1px solid #6DFDFF;
  }
  #nested2 button.formbtn{
   
    margin-left: 79%;
  }

  div.address{
    background: #222;
    grid-column: 2;
    grid-row: 7/11; 
    width: 50%; 
    margin-left: 10%;
    padding: 3%;
  }
  div.address p{
    color:white;
  }

  

  


}

@media screen and (max-width:600px){
  body{

      font-family: sans-serif;
      text-align: center;
      margin: 0;
      padding:0;
    }
    h1{
      cursor: default;
      color: white;
      text-align: center;

    }
      ul{
        list-style-type: none;
      }

    #content{
      display: grid;
      grid-template-rows:repeat(2,auto);
      margin:0 auto;
      position: relative;
      width: 100vw;
      height: 100vh;
    }
    #nested1{
      display: grid;
      grid-template-rows: repeat(2,auto);
      grid-template-columns: repeat(5,1fr);
      background: #181818;
    }
    #nested1 header{
      grid-row: 1;
      grid-column: 1;
      /* background: black; */

      font-size: 15px;
    }
    #nested1 a{
      color:#666;
    }
    a.social{
      display: none;
    }
    #nested1 a.navbar{
      font-size: 25px;
    }
    #nested1 a.navbar:hover{
      color:#6DFDFF;
      font-size: 25px;
      /* color:black; */
    }
    #home{
      grid-row: 2;
      grid-column: 1;
    }
    #about{
      grid-row: 2;
      grid-column: 2;
    }
    #skills{
      grid-row: 2;
      grid-column:3;
    }
    #projects{
      grid-row:  2;
      grid-column: 4;
    }
    #contact{
      grid-row:  2;
      grid-column: 5;
    }

    #nested2{
      grid-row: 2;
      display: grid;
      grid-template-rows: repeat(10,auto);
      /* grid-template-columns: 50% 50%; */
      /* background-color: rgba(34, 34, 34, 0.5) ; */
      /* background-color: #222; */
      background: black;
      /* background-color: #03051a; */

    }
    #nested2 h1{
      grid-column: 1;
      margin-left: 10%;
      text-align: left;
      /* font-size:50px; */
      /* padding-top:45px; */
      line-height: 0px;
      
    }
    h1.abouthead1{
      color:#6DFDFF;
    }

    #nested2 h1.head1 , h1.abouthead1{
      grid-column: 1;
      grid-row: 3;
      z-index: 5;;
    }
    
    #nested2 h1.head2{
      grid-column: 1;
      grid-row: 4;
      z-index: 5;;
    }

    #nested2 h1.head3{
      grid-column: 1;
      grid-row: 5;
      z-index: 5;;
    }
    #nested2 p{
      grid-column: 1;
      grid-row: 6;
      margin-left: 10%;
      text-align: left;
      color: #aaa;
      font-weight:lighter;

    }
    #nested2 p#bodyopen{
      grid-column: 1;
      grid-row: 1;
      margin-left:5%;
      opacity: 0.5;
    }
    #nested2 p#bodyclose{
      grid-column: 1;
      grid-row: 10;
      margin-left:5%;
       opacity: 0.5;
    }
    #nested2 p#h1open, p#abouth1open{
      grid-column: 1;
      grid-row: 2;
      padding-top: 20px;
       opacity: 0.5;
    }
    #nested2 p#h1close{
      grid-column: 1;
      grid-row: 5;
      text-align: right;
      margin-right: 15%;
      padding-top: 10px;
       opacity: 0.5;
       z-index: 3;
    }
    #nested2  p#abouth1close{
      grid-row: 5;
      /* text-align: right;
      margin-right: 35%; */
      padding-top: 10px;
       opacity: 0.5;
       z-index: 3;
    }
    #nested2  p.aboutme{
      padding-right:10%;
    }

    #nested2 button{
      grid-row: 7;
      margin-left:10%;
      margin-top:10px;
      width: 40%;
      height:35px;
      background: none;
      border: 1px solid white;
      color:white;
      font-family: sans-serif;
      transition: 0.5s;
    }
    #nested2 img.dp{
       grid-column: 1;
      grid-row: 3/7;
      width:100px;
      height:100px;
      border-radius: 50%;
      z-index:1;
      margin-left:70%;
      -webkit-filter: grayscale(1);           
      -webkit-transition: all .5s;       
     
    }
    a.icons{
      display: none;
    }
    

    #nested2 div.vertical-timeline{
      grid-row: 7;
    }
    div.vertical-timeline-block{
      margin: 2% 5% 2% 9%;
      padding:1%;
      background-color: white;
    }
  
    div.vertical-timeline h2 , p {
      text-align: left;
      margin-left: 5%;
    }


    /* projects page */
    body a{
      text-decoration: none;
    }
    
    iframe{
    
    }  
    div.arrow{     
      grid-row: 1; 
      margin:4% 5% 0% 5%; 
      padding:3%;
      background:white; 
    } 
      
    div.invento{ 
      grid-row: 2;       
      margin:4% 5% 5% 5%;    
      padding:3%;      
      background: white;          
    }
    div.invento h2 , div.arrow h2 {
      text-align:left;
      margin-left:5%;
    }
    div.invento p , div.arrow p {
      text-align:left;    
    }
    #nested2 p.desc{
      margin-left:5%;
    }
    #nested2 p.subheading{
      margin-left:5%;
    }
    a.repo i{
      float: left;
      margin-left:5%;
      font-size: 25px;
    }
    a.heading{
      color:black;
    }
    p.subheading{
      font-weight: bold;
    }
    div.blender{ 
      grid-row:3;
      width: 100%;        
    }
    div.blender-anim{      
      
    }
    #nested2 div.blender-anim p{
      color:#1CAAD9;      
      font-weight: bold;
      font-size: 13px;
    }
    video{
      width: 300;
      height: 180;
    }
  

    /* contact page */
    form.contactform{
      grid-column:1;
      grid-row: 7;
    }
  
    input[id="name"],input[id="email"],input[id="subject"],textarea{      
      padding:2%;
      /* margin-left:5%;     */
      margin-bottom:3%;
      width:70%;
      background-color: #222;
      border:none;   
    }
    
    input, select, textarea{
      color: #ffffff;
          
  }
  
    textarea:focus, input:focus {
        color: #ffffff;
        outline: none;
        border-bottom: 1px solid #6DFDFF;
    }
  
    div.address{
      background: #222;
      grid-column: 1;
      grid-row: 8;
      margin-right:10%;
      margin-left: 13%;
      margin-top: 10%;
      /* padding: 3%; */
    }
    div.address p{
      color:white;
      
    }
    #nested2 p.contactp{
      padding:5%;
      margin-left:0;
    }
    #nested2 button.formbtn{
      width:20%;
      margin-left: 50%;
    }


}
